.dash-background {
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url('https://upload.wikimedia.org/wikipedia/commons/7/7d/Mars_atmosphere.jpg');
    height: 100vh;
    position: relative;
  
    
}

.dash-border {
    border: 2px solid orange;
    position: fixed;
    height: 80vh;
    width: 92vw;
    margin-left: 3.4vw;
    margin-right:3vw;
    margin-top: 10vh;
    text-align: center;

}

