.taskbar-container {
    position: fixed;
    border: 2px solid orange;
    background-color: rgba(171, 97, 38, 0.3);
    z-index: 2;
    width: 99vw;
    display: inline-block;
}

.space-x {
    color:orange;
    font-size: 20px;
    color: white;
    text-align:center;
    font-family: 'Exo 2', sans-serif;
    margin-right: 10%
    
}

.menu-button {
    text-align: left;
    width: 8vw;
    float:left;
    margin-top: 5px;
    margin-left: 10px;
    
    
}